.hidden {
  display: none !important;
}

.mobile-hidden {
  display: none;
}

.container {
  max-width: 575px;
  margin: 0 auto;
}

.justify-center {
  justify-content: center;
}

.width-90 {
  width: 90%;
}

.justify-end {
  justify-content: flex-end;
}

.actual-column {
  display: flex;
  flex-direction: column;
}

.all-column-half {
  width: 50%;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

.desktop-center {
  margin-top: 3rem;
}

.justify-center-mobile {
  justify-content: center;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 25% auto;
  padding: 20px;
  width: 80%;
  border-radius: 10px;
}

.above-footer {
  position: relative;
  bottom: 0;
  margin-top: 1rem;
}

.text-align-right-mobile {
  text-align: right;
}

.width-350-mobile {
  width: 350px;
}

.get-started:active,
.button:active {
  background-color: #ffbcbc;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .column-full,
  .column-half {
    padding: 0;
  }

  .column-half {
    width: 50%;
  }

  .desktop-hidden {
    display: none;
  }

  .mobile-hidden {
    display: flex;
  }

  .desktop-center {
    margin-top: 15%;
  }

  .justify-center-mobile {
    justify-content: flex-start;
  }

  .modal-content {
    position: relative;
    top: 7rem;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 500px;
    border-radius: 10px;
  }

  .text-align-right-mobile {
    text-align: left;
  }

  .get-started:hover,
  .button:hover {
    background-color: #ffbcbc;
  }

  .nowrap {
    flex-wrap: nowrap;
  }
}
