.hidden {
  display: none !important;
}

.mobile-hidden {
  display: none;
}

.container {
  max-width: 575px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

.desktop-center {
  margin-top: 3rem;
}

.justify-center-mobile {
  justify-content: center;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 25% auto;
  padding: 20px;
  width: 90%;
  border-radius: 10px;
}

.above-footer {
  position: fixed;
  bottom: 75px;
}

.text-align-right-mobile {
  text-align: right;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0;
  }

  .column-half {
    width: 50%;
  }

  .desktop-hidden {
    display: none;
  }

  .mobile-hidden {
    display: block;
  }

  .desktop-center {
    margin-top: 15%;
  }

  .justify-center-mobile {
    justify-content: flex-start;
  }

  .modal-content {
    position: relative;
    top: 7rem;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 60%;
    border-radius: 10px;
  }

  .above-footer {
    position: relative;
    bottom: 0;
  }

  .text-align-right-mobile {
    text-align: left;
  }
}
