body {
  font-family: 'Nunito', sans-serif;
}

.background-color-blue {
  background-color: #b5eaea;
}

.background-color-gray {
  background-color: #ececec;
}

.title {
  font-family: 'Pacifico', cursive;
  font-size: 50pt;
  font-weight: 400;
}

.header {
  font-size: 28pt;
}

header {
  background-color: white;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.width {
  width: 100%;
}

.pink {
  color: #f38ba0;
}

.paws {
  width: 100%;
}

.margin-top {
  margin-top: 7rem;
}

.small-margin-top {
  margin-top: 3rem;
}

.smaller-margin-top {
  margin-top: 2rem;
}

.margin-none {
  margin: 0;
}

.button {
  color: white;
  background-color: #f38ba0;
  border: none;
  border-radius: 5px;
}

.get-started {
  font-family: 'Nunito', sans-serif;
  padding: 1rem 2rem;
  font-size: 24pt;
}

footer {
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
}

.footer-half {
  width: 50%;
}

.padding-vert {
  padding: 1rem 0;
}

.dog {
  width: 90%;
}
